/*  COLORS
  Orange:    #FF9F1C
  Yellow:    #FFBF69
  White:     #FFFFFF
  Skyblue:   #CBF3F0
  Seablue:   #2EC4B6 
  Darkgray:  #595751
  Gray:      #B1AEA5
  Lightgray: #C9C9C9
*/
/* Figma to CSS: https://www.youtube.com/watch?v=mh39YXytfC0 */

.History-box{
  position: absolute;
  top: calc(94.2vh * 1000 / 1080);
  right: calc(15.9vh * 1000 / 1080);
  width: calc(29.3vh * 1000 / 1080);
  height: calc(12.1vh * 1000 / 1080);
  background: #B1AEA5;
  border-radius: calc(1.2vh * 1000 / 1080);
  display: flex;
  align-items: center;
  gap: calc(0.9vh * 1000 / 1080);
  overflow-x: auto;
}