/*  COLORS
  Orange:    #FF9F1C
  Yellow:    #FFBF69
  White:     #FFFFFF
  Skyblue:   #CBF3F0
  Seablue:   #2EC4B6 
  Darkgray:  #595751
  Gray:      #B1AEA5
  Lightgray: #C9C9C9
*/
/* Figma to CSS: https://www.youtube.com/watch?v=mh39YXytfC0 */

.Icon-cross {
  position: absolute;
  height: calc(2.8vh * 1000 / 1080);
  width: calc(2.8vh * 1000 / 1080);
  background: #FFFFFF;
  border: 1px solid #A4A198;
  border-radius: calc(1.4vh * 1000 / 1080);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-left: calc(6.35vh * 1000 / 1080);
  margin-top: calc(-1.3vh * 1000 / 1080);
  display: flex;
  justify-content: space-around;
  align-items: space-around;
}

.cross-image{
  margin: calc(0.6vh * 1000 / 1080);
}

.Icon-cross:hover {
  background-color: #C9C9C9;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.Icon-logo {
  height: calc(5vh * 1000 / 1080);
  width: calc(5vh * 1000 / 1080);
  padding: calc(1.4vh * 1000 / 1080);
  border-radius: calc(1.6vh * 1000 / 1080);
}

#Option1{
  background-color: #FF9F1C;
}

#Option2{
  background-color: #FFBF69;
}

#Option3{
  background-color: #CBF3F0;
}

#Option4{
  background-color: #2EC4B6;
}

.chosenOption{
  margin-left: calc(1.4vh * 1000 / 1080);
}