.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    margin-top: 8rem;
}

.popup-body {
    position: absolute;
    height: 92rem;
    width: 158rem;
    text-align: center;
    color: white;
    margin: auto;
    border-radius: 1.3rem;
    border-color: black;
    background: rgba(0, 0, 0, 0.67);
    box-shadow: rgba(0, 0, 0, 0.35) 0rem 0.5rem 1.5rem;
}