/*  COLORS
  Orange:    #FF9F1C
  Yellow:    #FFBF69
  White:     #FFFFFF
  Skyblue:   #CBF3F0
  Seablue:   #2EC4B6 
  Darkgray:  #595751
  Gray:      #B1AEA5
  Lightgray: #C9C9C9
*/
/* Figma to CSS: https://www.youtube.com/watch?v=mh39YXytfC0 */

/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 1.2rem;
  height: 1.2rem;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 1.25rem;
  margin: 1.7rem !important;
  background: rgba(0, 0, 0, 0.25); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 1.25rem;
  background: rgba(255, 255, 255, 0.6); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  border-radius: 1.25rem;
  background: rgba(255, 255, 255, 1); 
}
/***************************************************************************/

.Tab1{
  text-align: left;
  position: absolute;
  border-radius: 1.2rem;
  top: 10.9rem;
  right: 1.8rem;
  height: 81.6rem;
  width: 43.4rem;
  background-color: #FF9F1C;
  overflow-y: auto;
}

.Tab2{
  text-align: left;
  position: absolute;
  border-radius: 1.2rem;
  top: 10.9rem;
  right: 1.8rem;
  height: 81.6rem;
  width: 43.4rem;
  background-color: #FFBF69;
  overflow-y: auto;
}

.Tab3{
  text-align: left;
  position: absolute;
  border-radius: 1.2rem;
  top: 10.9rem;
  right: 1.8rem;
  height: 81.6rem;
  width: 43.4rem;
  background-color: #CBF3F0;
  overflow-y: auto;
}

.Tab4{
  text-align: left;
  position: absolute;
  border-radius: 1.2rem;
  top: 10.9rem;
  right: 1.8rem;
  height: 81.6rem;
  width: 43.4rem;
  background-color: #2EC4B6;
  overflow-y: auto;
}

.SideMenu-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: 3.5rem;
  margin-right: 2rem;
  font-size: 3.6rem;
  font-weight: 700;
  color: black;
}

.SideMenu-question {
  display: flex;
  align-content: center;
  height: 5.1rem;
  width: 5.1rem;
  border-radius: 5.1rem;
  background-color: #FFFFFF;
}

.SideMenu-question:hover {
  background-color: #B1AEA5;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.question-image{
  margin: 1.2rem;
}

.SideMenu-option{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.3rem;
  margin-left: 3.5rem;
  font-weight: 400;
  font-size: 3.2rem;
}

.SideMenu-option-chosen{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.3rem;
  margin-left: 3.5rem;
  font-weight: 400;
  font-size: 3.2rem;
}

.Icon-cross {
  height: 2.8rem; /* 7.8(org) - 1.4(padding) * 2 = 5 */
  width: 2.8rem;
  position: absolute;
  margin-left: 6.35rem;
  margin-bottom: 6.35rem;
}

.SideMenu-logo {
  height: 5rem; /* 7.8(org) - 1.4(padding) * 2 = 5 */
  width: 5rem;
  padding: 1.4rem;
  border-radius: 1.6rem;
  background-color: #FFFFFF;
}

.SideMenu-logo-chosen {
  height: 5rem; /* 7.8(org) - 1.4(padding) * 2 = 5 */
  width: 5rem;
  padding: 1.4rem;
  border-radius: 1.6rem;
  background-color: #B1AEA5;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.SideMenu-logo:hover {
  background-color: #C9C9C9;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}