/*  COLORS
  Orange:    #FF9F1C
  Yellow:    #FFBF69
  White:     #FFFFFF
  Skyblue:   #CBF3F0
  Seablue:   #2EC4B6 
  Darkgray:  #595751
  Gray:      #B1AEA5
  Lightgray: #C9C9C9
*/
/* Figma to CSS: https://www.youtube.com/watch?v=mh39YXytfC0 */

/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: calc(1.2vh * 1000 / 1080);
  height: calc(1.2vh * 1000 / 1080);
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: calc(1.25vh * 1000 / 1080);
  margin: calc(1.7vh * 1000 / 1080) !important;
  background: rgba(0, 0, 0, 0.25); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: calc(1.25vh * 1000 / 1080);
  background: rgba(255, 255, 255, 0.6); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  border-radius: calc(1.25vh * 1000 / 1080);
  background: rgba(255, 255, 255, 1); 
}
/***************************************************************************/

.Tab1{
  text-align: left;
  position: absolute;
  border-radius: calc(1.2vh * 1000 / 1080);
  top: calc(10.9vh * 1000 / 1080);
  right: calc(1.8vh * 1000 / 1080);
  height: calc(81.6vh * 1000 / 1080);
  width: calc(43.4vh * 1000 / 1080);
  background-color: #FF9F1C;
  overflow-y: auto;
}

.Tab2{
  text-align: left;
  position: absolute;
  border-radius: calc(1.2vh * 1000 / 1080);
  top: calc(10.9vh * 1000 / 1080);
  right: calc(1.8vh * 1000 / 1080);
  height: calc(81.6vh * 1000 / 1080);
  width: calc(43.4vh * 1000 / 1080);
  background-color: #FFBF69;
  overflow-y: auto;
}

.Tab3{
  text-align: left;
  position: absolute;
  border-radius: calc(1.2vh * 1000 / 1080);
  top: calc(10.9vh * 1000 / 1080);
  right: calc(1.8vh * 1000 / 1080);
  height: calc(81.6vh * 1000 / 1080);
  width: calc(43.4vh * 1000 / 1080);
  background-color: #CBF3F0;
  overflow-y: auto;
}

.Tab4{
  text-align: left;
  position: absolute;
  border-radius: calc(1.2vh * 1000 / 1080);
  top: calc(10.9vh * 1000 / 1080);
  right: calc(1.8vh * 1000 / 1080);
  height: calc(81.6vh * 1000 / 1080);
  width: calc(43.4vh * 1000 / 1080);
  background-color: #2EC4B6;
  overflow-y: auto;
}

.SideMenu-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: calc(3.5vh * 1000 / 1080);
  margin-right: calc(2vh * 1000 / 1080);
  font-size: calc(3.6vh * 1000 / 1080);
  font-weight: 700;
  color: black;
}

.SideMenu-question {
  display: flex;
  align-content: center;
  height: calc(5.1vh * 1000 / 1080);
  width: calc(5.1vh * 1000 / 1080);
  border-radius: calc(5.1vh * 1000 / 1080);
  background-color: #FFFFFF;
}

.SideMenu-question:hover {
  background-color: #B1AEA5;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.question-image{
  margin: calc(1.2vh * 1000 / 1080);
}

.SideMenu-option{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: calc(1.3vh * 1000 / 1080);
  margin-left: calc(3.5vh * 1000 / 1080);
  font-weight: 400;
  font-size: calc(3.2vh * 1000 / 1080);
}

.SideMenu-option-chosen{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: calc(1.3vh * 1000 / 1080);
  margin-left: calc(3.5vh * 1000 / 1080);
  font-weight: 400;
  font-size: calc(3.2vh * 1000 / 1080);
}

.Icon-cross {
  height: calc(2.8vh * 1000 / 1080); /* 7.8(org) - 1.4(padding) * 2 = 5 */
  width: calc(2.8vh * 1000 / 1080);
  position: absolute;
  margin-left: calc(6.35vh * 1000 / 1080);
  margin-bottom: calc(6.35vh * 1000 / 1080);
}

.SideMenu-logo {
  height: calc(5vh * 1000 / 1080); /* 7.8(org) - 1.4(padding) * 2 = 5 */
  width: calc(5vh * 1000 / 1080);
  padding: calc(1.4vh * 1000 / 1080);
  border-radius: calc(1.6vh * 1000 / 1080);
  background-color: #FFFFFF;
}

.SideMenu-logo-chosen {
  height: calc(5vh * 1000 / 1080); /* 7.8(org) - 1.4(padding) * 2 = 5 */
  width: calc(5vh * 1000 / 1080);
  padding: calc(1.4vh * 1000 / 1080);
  border-radius: calc(1.6vh * 1000 / 1080);
  background-color: #B1AEA5;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.SideMenu-logo:hover {
  background-color: #C9C9C9;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}