html {
  font-family: 'Inter';
  background-color: #595751;
}

.App {
  text-align: center;
  margin-left: calc(1.8vh * 1000 / 1080);
}

.Switches {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: calc(1.8vh * 1000 / 1080);
  margin-top: calc(1.4vh * 1000 / 1080);
}

.subhead-text{
  font-weight: 400;
  font-size: calc(2.2vh * 1000 / 1080);
  margin: 0;
  color: white;
}

p:nth-child(3){
  margin-left: 5%;
}
  
.Content {
  /*margin-left: calc(1.8vh * 1000 / 1080);*/
  margin-top: calc(1.4vh * 1000 / 1080);
  margin-right: calc(47vh * 1000 / 1080);
  height: calc(1004vh * 100 / 1080);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: white;
}