/*  COLORS
  Orange:    #FF9F1C
  Yellow:    #FFBF69
  White:     #FFFFFF
  Skyblue:   #CBF3F0
  Seablue:   #2EC4B6 
  Darkgray:  #595751
  Gray:      #B1AEA5
  Lightgray: #C9C9C9
*/
/* Figma to CSS: https://www.youtube.com/watch?v=mh39YXytfC0 */

.playButton {
  cursor: pointer;
  position: absolute;
  right: calc(1.8vh * 1000 / 1080);
  top: calc(94.2vh * 1000 / 1080);
  height: calc(12.1vh * 1000 / 1080);
  width: calc(12.1vh * 1000 / 1080);
  border-radius: calc(6.05vh * 1000 / 1080);
}

.playButton:hover {
  filter: brightness(75%);
}