.key {
    background-color: white;
    height: calc((983vh * 100 / 1080)/21); /* 21 keys, 1004-21 (för border) */
    width: 100%;
    border-width: 0vh 0.1vh 0.1vh 0vh; 
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.5); 
    border-radius: 0px 6px 6px 0px;
}

.key.flat {
    background-color: #2EC4B6;
    z-index: 1;
    margin-top: calc((-983vh * 100 / 1080)/72); /*totalt 36 tangenter, halvtangenter ska ligga på mitten */
    position: absolute;
    border-width: 0px;
    border-radius: 0px 6px 6px 0px;
    height: 3%;
    width: 57.7%;
}

.key-text {
    color: black;
    font-weight: 600;
    font-size:20px;
    margin-left:70%;
    pointer-events: none;
}