.key {
    z-index: 1;
    position: relative;
    background: white;
    width: 100%;
    height: calc((110.5%)/21);
    margin: 0.5%;
    border-radius: 0px 4px 4px 0px;
     
}
.key.flat {
    z-index: 2;
    width: 60%;
    margin: calc(-121%/21) 0;
    height: calc(2.5%);
    border-radius: 0px 2px 2px 0px;
    
    
}
.key-text {
    color: black;
    font-weight: 600;
    font-size:20px;
    margin-left:70%;
    pointer-events: none;
}